<div class="body">
  <h1>Ты не админ</h1>
  <div class="flex-container">
    <div class="body__content">
      <img id="drag1" src="<%= asset_path('chipi.gif') %>">
      <%= link_to "На главную", travels_path %>
    </div>
  </div>
</div>